$cor-borda:#222222;
#CPU{
    label{
        display: block;
        float:left;
        width:100%;
    }
    .box{
        float:left;
        border:solid 1px $cor-borda;
        width:30px;
        height:30px;
        position:relative;
        .circle{
            width:15px;
            height:15px;
            border-radius: 50%;
            margin:7px auto ;
            float:none;
        }
    }
    .bar{
        width:0%;
        float:left;
        height:2px;
        background:red;
        position:absolute;
        bottom:0px;
        left:0px;
    }
    #lista_cpu, #lista_IO,#lista_suspensos{
        float:left;
        .lista_prioridades{
            height:30px;
            float:left;

        }
    }
    #lista_cpu {  
        min-height:50px;
        .lista_prioridades{
            float:left;
            overflow:hidden;
            position:relative;
            height:100%;
            margin-left:5px;
            margin-right:10px;

        }
    }
    .cor_prioridade,.cor_IO{
        float:left;
        width:10px;
        height:28px;
    }
}
#lista_processo{
    th,td{
        text-align:center;
    }
    td.botao{
        width:100px;
    }
    .cor{
        width:30px;
        height:30px;
        margin:auto;
    }
}
.cor{
    &.vazio{background:#ffffff} &.yellow{ background: yellow;} &.red{ background: red;} &.aqua{ background: aqua;} &.aquamarine{ background: aquamarine;} &.beige{ background: beige;} &.black{ background: black;} &.blue{ background: blue;} &.blueviolet{ background: blueviolet;} &.brown{ background: brown;} &.burlywood{ background: burlywood;} &.cadetblue{ background: cadetblue;} &.chartreuse{ background: chartreuse;} &.chocolate{ background: chocolate;} &.coral{ background: coral;} &.cornflowerblue{ background: cornflowerblue;} &.crimson{ background: crimson;} &.cyan{ background: cyan;} &.darkblue{ background: darkblue;} &.darkcyan{ background: darkcyan;} &.darkgoldenrod{ background: darkgoldenrod;} &.darkgray{ background: darkgray;} &.darkgrey{ background: darkgrey;} &.darkgreen{ background: darkgreen;} &.darkkhaki{ background: darkkhaki;} &.darkmagenta{ background: darkmagenta;} &.darkolivegreen{ background: darkolivegreen;} &.darkorange	darksalmon{ background: darkorange	darksalmon;} &.darkslateblue{ background: darkslateblue;} &.darkslategrey{ background: darkslategrey;} &.darkturquoise{ background: darkturquoise;} &.darkviolet{ background: darkviolet;} &.deeppink{ background: deeppink;} &.dimgrey{ background: dimgrey;} &.dodgerblue{ background: dodgerblue;} &.firebrick{ background: firebrick;} &.floralwhite{ background: floralwhite;} &.forestgreen{ background: forestgreen;} &.fuchsia{ background: fuchsia;} &.gold{ background: gold;} &.green{ background: green;} &.greenyellow{ background: greenyellow;} &.hotpink{ background: hotpink;} &.indianred{ background: indianred;} &.indigo{ background: indigo;} &.khaki{ background: khaki;} &.lawngreen{ background: lawngreen;} &.lemonchiffon{ background: lemonchiffon;}
}
#memoria{
    #memoria_principal,
    #memoria_virtual{
        border-left:solid 1px $cor-borda;
        border-bottom:solid 1px $cor-borda;
        float:left;
        width:100%;
        .div_memoria{
            width:9.9%;
            height:20px;
            border-top:solid 1px $cor-borda;
            border-right:solid 1px $cor-borda;
            float:left;
        } 
    }
} 