#CPU .box { border: solid 1px #222222; width: 30px; height: 30px; position: relative; }

#CPU .box .circle { width: 15px; height: 15px; border-radius: 50%; margin: 7px auto; float: none; }

#CPU .bar { width: 0%; float: left; height: 2px; background: red; position: absolute; bottom: 0px; left: 0px; }

#CPU #lista_cpu, #CPU #lista_suspensos { float: left; }

#CPU #lista_cpu .lista_prioridades, #CPU #lista_suspensos .lista_prioridades { height: 30px; float: left; /*            border-bottom:solid 1px $cor-borda; border-top:solid 1px $cor-borda; border-left:solid 1px $cor-borda; border-right:solid 1px $cor-borda;*/ }

#CPU .cor_prioridade { float: left; width: 10px; height: 28px; }

#lista_processo th, #lista_processo td { text-align: center; }

#lista_processo td.botao { width: 100px; }

#lista_processo .cor { width: 30px; height: 30px; margin: auto; }

.cor.vazio { background: #ffffff !important; }

.cor.yellow { background: yellow; }

.cor.red { background: red; }

.cor.aqua { background: aqua; }

.cor.aquamarine { background: aquamarine; }

.cor.beige { background: beige; }

.cor.black { background: black; }

.cor.blue { background: blue; }

.cor.blueviolet { background: blueviolet; }

.cor.brown { background: brown; }

.cor.burlywood { background: burlywood; }

.cor.cadetblue { background: cadetblue; }

.cor.chartreuse { background: chartreuse; }

.cor.chocolate { background: chocolate; }

.cor.coral { background: coral; }

.cor.cornflowerblue { background: cornflowerblue; }

.cor.crimson { background: crimson; }

.cor.cyan { background: cyan; }

.cor.darkblue { background: darkblue; }

.cor.darkcyan { background: darkcyan; }

.cor.darkgoldenrod { background: darkgoldenrod; }

.cor.darkgray { background: darkgray; }

.cor.darkgrey { background: darkgrey; }

.cor.darkgreen { background: darkgreen; }

.cor.darkkhaki { background: darkkhaki; }

.cor.darkmagenta { background: darkmagenta; }

.cor.darkolivegreen { background: darkolivegreen; }

.cor.darkorange darksalmon { background: darkorange	darksalmon; }

.cor.darkslateblue { background: darkslateblue; }

.cor.darkslategrey { background: darkslategrey; }

.cor.darkturquoise { background: darkturquoise; }

.cor.darkviolet { background: darkviolet; }

.cor.deeppink { background: deeppink; }

.cor.dimgrey { background: dimgrey; }

.cor.dodgerblue { background: dodgerblue; }

.cor.firebrick { background: firebrick; }

.cor.floralwhite { background: floralwhite; }

.cor.forestgreen { background: forestgreen; }

.cor.fuchsia { background: fuchsia; }

.cor.gold { background: gold; }

.cor.green { background: green; }

.cor.greenyellow { background: greenyellow; }

.cor.hotpink { background: hotpink; }

.cor.indianred { background: indianred; }

.cor.indigo { background: indigo; }

.cor.khaki { background: khaki; }

.cor.lawngreen { background: lawngreen; }

.cor.lemonchiffon { background: lemonchiffon; }

#memoria #memoria_principal, #memoria #memoria_virtual { border-left: solid 1px #222222; border-bottom: solid 1px #222222; float: left; width: 100%; }

#memoria #memoria_principal .div_memoria, #memoria #memoria_virtual .div_memoria { width: 9.9%; height: 20px; border-top: solid 1px #222222; border-right: solid 1px #222222; float: left; }
