<!DOCTYPE html>
<html>
    <head>
        <title>SO Simulator</title>
        <script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="bower_components/angular/angular.min.js" type="text/javascript"></script>
        <script src="js.js" type="text/javascript"></script>
        <script src="Global.js" type="text/javascript"></script>
        <script src="Cpu.js" type="text/javascript"></script>
        <script src="Processo.js" type="text/javascript"></script>
        <script src="Memoria_principal.js" type="text/javascript"></script>
        <script src="Memoria_secundaria.js" type="text/javascript"></script>
        <script src="angular.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css.css">
    </head>
    <body ng-app="appMemory" ng-controller="memoryCtrl">
        <h1 class="text-center">SO Memory Simulator</h1>
        <div class="container-fluid" >
            <div class="row">
                <div class="col-md-2">
                    <label>Clock CPU</label><br/>
                    <input type="number" ng-model="CPU.clock">
                </div>
                <div class="col-md-2">
                    <label>Tipo escalonamento</label><br/>
                    <input type="radio" ng-model="escalonamento" value="round_robin" id="round_robin">
                    <label for="round_robin">Round robin</label><br/>
                    <input type="radio" ng-model="escalonamento" value="round_robin_prioridade" id="round_robin_prioridade">
                    <label for="round_robin_prioridade">Round robin com prioridades</label><br/>
                    <input type="radio" ng-model="escalonamento" value="com_prioridade" id="com_prioridade">
                    <label for="com_prioridade">Com prioridades</label><br/>
                    <input type="radio" ng-model="escalonamento" value="com_prioridade_dinamica" id="com_prioridade_dinamica">
                    <label for="com_prioridade_dinamica">Com prioridades dinâmicas</label><br/>
                    <input type="radio" ng-model="escalonamento" value="loteria" id="loteria">
                    <label for="loteria">Escalonamento da Loteria</label>

                </div>

                <div id="CPU" class="col-md-8 col-md-offset-2">
                    <div id="execucao" class="col-md-4">
                        <label>CPU</label>
                        <div class="box">
                            <div class="circle cor cor_prioridade" ng-class="cpu_process.cor" ></div>
                            <div class="bar"></div>
                        </div>
                        <div id="lista_cpu" >
                            <div class="lista_prioridades" ng-repeat="lista in listaPrioridadeCPU track by $index">
                                <!--Prio. {{$index}}<br/>-->
                                <div class="cor cor_prioridade" ng-class="p.cor" ng-repeat="p in lista"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>Suspensos</label>
                        <div id="lista_suspensos" >
                            <div class="lista_prioridades" ng-repeat="p in listaSuspendidos">
                                <div class="cor cor_prioridade" ng-class="p.cor" > </div>
                            </div>
                        </div>
                    </div>
                    <div id="espera_io" class="col-md-2">
                        <label>IO</label>
                        <div id="lista_IO" >
                            <div class="lista_prioridades" ng-repeat="p in listaIO">
                                <div class="cor cor_prioridade" ng-class="p.cor"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div  id='controler'>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label>Tipo de processo</label><br/>
                                <input type="radio" ng-model="process.tipo" value="CPU" id='cpu'>
                                <label for='cpu'>CPU</label>
                                <input type="radio" ng-model="process.tipo" value="IO" id='io'>
                                <label for='io'>IO</label>
                            </div>
                            <div class="form-group col-md-3">
                                <label for='frames'>Quantidade de Frames</label>
                                <input type="number" id='frames' max="5" min="0" ng-model="process.frames" class="form-control">
                            </div><div class="form-group col-md-3">
                                <label for='prioridade'>Prioridade</label>
                                <input type="number" id='prioridade' min="0"  max="15" ng-model="process.prioridade" class="form-control">
                            </div>
                            <div class="col-md-4">	
                                <br/><button class="btn btn-default" ng-click="funcProcessos.addProcess(process)">Criar</button>
                            </div>
                        </div>
                    </div>
                    <table id="lista_processo" class="table table-stripped">
                        <tr>
                            <th>-</th>
                            <th>-</th>
                            <th>Id</th>
                            <th>Cor</th>
                            <th>Tipo</th>
                            <th>Prioridade</th>
                            <th>Estado</th>
                            <th>Frames</th>
                            <th>-</th>
                        </tr>
                        <tr ng-repeat="p in processes">
                            <td class="text-center botao">
                                <button ng-click="funcProcessos.suspender_retomar(p)"  ng-show="p.ativo" class="btn btn-warning">Suspender</button>
                                <button ng-click="funcProcessos.suspender_retomar(p)" ng-show="!p.ativo" class="btn btn-success">Retomar</button>
                            </td>
                            <td class="text-center botao">
                                <button ng-click="funcProcessos.eliminarClick(p)" class="btn btn-danger">Eliminar</button>
                            </td>
                            <td>{{p.id}}</td>
                            <td><div class="cor" ng-class="p.cor"></div></td>
                            <td>{{p.tipo}}</td>
                            <td>{{p.prioridade}}</td>
                            <td>{{p.estado}}</td>
                            <td>{{p.frames}}</td>
                            <td>{{p.fifo}}</td>
                        </tr>
                    </table>
                </div>
                <div class="clear"></div>
                <div class="col-md-4" id="memoria">
                    <h2>Memória principal</h2>
                    <div id="memoria_principal">
                        <div ng-repeat="mp in memoria_principal.processes| filter:isRightUndefined">
                            <div ng-repeat="value in ngRepeatNumber(mp.frames) track by $index">
                                <div class="div_memoria cor"  ng-class="mp.cor">{{mp.id}}</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        {{memoria_principal.vazios}}<br/>
                    </div>
                    <h2>Memória virtual</h2>
                    <div id="memoria_virtual">
                        <div ng-repeat="ms in memoria_secundaria.processes| filter:isRightUndefined">
                            <div ng-repeat="value in ngRepeatNumber(ms.frames) track by $index">
                                <div class="div_memoria cor"  ng-class="ms.cor">{{ms.id}}</div>
                            </div>
                        </div>
                    </div>
                    {{memoria_secundaria.vazios}}<br/>
                    <div>
                        Size {{memoria_secundaria.size}}<br/>
                        Max size{{memoria_secundaria.max_size}}
                    </div>
                </div>
                <div class="col-md-6" id="processador"></div>
            </div>
        </div>
    </body>
</html>